{
  "presets": [
    "react",
    ["@babel/preset-env", {
      "targets": {
        "node": true
      },
      "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ]
}
