__pycache__/
.cache
.coverage
.eggs
.env*
.eslintcache
*.egg-info
*.pyc
*.pyo
.pytest_cache/
build
dist
dist/
lib/backend/application-custom.cfg
lib/frontend/assets/
lib/frontend/static/
node_modules/
base.Makefile
config.custom.Makefile
.venv
