@import '../utils.sass'

.reactest-Counter
  +component-border
  text-align: center

  &-count
    color: forestgreen
    font-weight: bold

  &-button
    background-color: white
    border: 1px solid #ab8
