@import '../utils.sass'

.Counter
  +component-border
  text-align: center

  &__count
    color: forestgreen
    font-weight: bold

  &__button
    background-color: white
    border: 1px solid #ab8
