<!doctype html>
<html>
  <head>
    <title>Reactest</title>
    {% if not config.get('STATIC_SERVER', '') %}
      <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    {% endif %}
  </head>
  <body data-count="{{ count }}">
    <div id="root">
    </div>
    <script src="{{ config.get('STATIC_SERVER', '') }}{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
