<!doctype html>
<html>
  <head>
    <title>Reactest</title>
  </head>
  <body data-count="{{ count }}">
    <div id="root">
    </div>
    <script src="{{ config.get('STATIC_SERVER', '') }}{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
