{%- from "_utils.jinja2" import static -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ static('images/favicon.png') }}">
    {%- include "_ie.jinja2" -%}

    <title>Apparatus</title>
    <link href="{{ static('stylesheets/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static('stylesheets/main.css') }}" rel="stylesheet">
  </head>

  <body>

    {%- include "_nav.jinja2" -%}

    <main>
      <div class="container">
        {% for group in get_flashed_messages(with_categories=true) | groupby(0) %}
          {% set style = group.grouper %}
          <aside class="alert alert-{{ style if style != 'error' else 'danger'}}">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">{{ style | capitalize }}</h4>
            {% for style, message in group.list %}
              <p>{{ message }}</p>
            {% endfor %}
          </aside>
        {% endfor %}

        {% block main %}{% endblock main %}
      </div>
    </main>

    <footer>
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ static('javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ static('javascripts/main.js') }}"></script>
  </body>
</html>
